/* -------------------------------- vriabel -------------------------------- */
:root {
    --primary-color: #1e1e1e;
    --secondary-color: #00ffff;
    --gradient-color: #7c4dff;
    --bg-color: #121212;
    --font-primary: #1c1c1c;
    --hover-primary: #00b8d4;
    --font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    --color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: var(--font);
    background: var(--bg-color);
    animation: masukHalaman 0.5s ease;
}

@keyframes masukHalaman {
    from {
        opacity: 0;
} to {
    opacity: 1;
}
}
/* ------------------------ Buat tampilan paling atas ----------------------- */
.header {
    background-color: var(--primary-color);
    color: var(--color);
    padding: 25px 0 45px 0px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
#header__title{
    cursor: default;
    font-size: 24px;
}

/* ---------------------------- Tampilan navigsi ---------------------------- */
.nav {
    position: fixed;
    top: 60;
    z-index: 99;
    left: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    height: 100%;
    width: 220px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
}
#nav__title {
    text-align: center;
    cursor: default;
    margin-bottom: 35px;
}
.nav__isi {
    display: flex;
    flex-direction: column;
}
.nav__link {
    color: var(--font-primary);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid var(--font-primary);
    border-radius: 12px;
    transition: all 0.3s ease;
}
.nav__link:hover {
    transition: all 0.3s ease;
    color: var(--primary-color);
    background: linear-gradient(90deg, var(--hover-primary), var(--gradient-color));
    transform: translateX(8px);
    border-bottom: 1px var(--primary-color);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.500);
}
.nav__link.active {
    color: var(--primary-color);
    background: linear-gradient(90deg, var(--hover-primary), var(--gradient-color));
    transform: translateX(8px);
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.500);
}
/* ------------------------------ Untuk gambar ------------------------------ */
#gambar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
}

#gambar-home {
    display: flex;
    position: absolute;
    top: 0;
    left: 1;
    justify-content: left;
    align-items: left;
    margin-left: 60px;
    z-index: 101;
    height: 90px;
    width: 90px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
}

/* ---------------------- tampilan isi atau utama dawg ---------------------- */
.main {
    position: absolute;
    top: 60;
    left: 300px;
    margin-top: 20px;
    /* margin-left: 300px; */
    color: var(--color);
    cursor: default;
}
.main ul li{
    margin: 10px;
    color: var(--secondary-color);
}
#main__title {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: var(--secondary-color);
}
.main__isi-home {
    margin-top: 26px;
}
.main__isi-profile {
    margin-top: 26px;
}
.main__isi-sosmed {
    text-align: center;
    margin-left: 500px;

}