/* ---------------------------- Varialbel Global ---------------------------- */
:root {
    --primary-color: #23272F;
    --secondary-color: #31363B;

    --hover-color: #3B82F6;
    --gradient-color: #222831;

    --font-light: #F5F6FA;
    --font-dark: #B0BEC5;
    --font-content: #909090;
    --font-black: #000000;
    --font-shadow: #808080;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --bg-color: #181A20;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* --------------------------------- Global --------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    font-family: var(--font);
    color: var(--font-light);
}

/* -------------------------- Tampilan paling atas -------------------------- */
.header {
    position: sticky;
    background-color: var(--primary-color);
    top: 0;
    padding: 20px 0;
    z-index: 100;
}

#gambar__ku {
    position: absolute;
    top: 10px;
    left: 85px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid var(--color-white);
}

/* ---------------------------- Tampilan sidebar ---------------------------- */
.sidebar {
    position: sticky;
    top: 60px;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--secondary-color);
    padding: 45px 0;
    color: var(--font-light);
    border-radius: 0px 18px 18px 0px;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

.nav__link {
    text-decoration: none;
    color: var(--font-light);
    padding: 20px 40px;
    margin: 5px 0px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 12px;
    border-bottom: 1px solid var(--color-white);
    transition: all 0.3s ease;
}

.nav__link:hover {
    transform: translateX(8px);
    border-bottom: all;
    transition: all 0.3s ease;
    background: linear-gradient(to left, var(--hover-color), var(--gradient-color));
    color: var(--color-black);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav__link.active {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(8px);
    border-bottom: all;
    transition: all 0.3s ease;
    background: linear-gradient(to left, var(--hover-color), var(--gradient-color));
    color: var(--color-black);
}

/* ---------------------------------- foter --------------------------------- */
.sidebar__footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 200px;
    text-align: center;
}

#warna-warni {
    animation: ubahWarnaWarni 2s infinite;
}

@keyframes ubahWarnaWarni {
    0% {
        color: red;
        text-shadow: 0px 0px 12px rgb(200, 0, 0);
    }

    25% {
        color: orange;
        text-shadow: 0px 0px 12px rgb(200, 150, 0);
    }

    50% {
        color: yellow;
        text-shadow: 0px 0px 12px rgb(150, 150, 0);
    }

    75% {
        color: green;
        text-shadow: 0px 0px 12px rgb(0, 80, 0);
    }

    100% {
        color: red;
        text-shadow: 0px 0px 12px rgb(200, 0, 0);
    }
}

/* ---------------------------- Bagian isi, Home ---------------------------- */
.main {
    position: absolute;
    top: 120px;
    left: 350px;
    padding: 40px 10px;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 12px;
}

.main__box {

    color: var(--font-content);

}

.main__box p {
    color: var(--font-light);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.box__item {
    color: var(--font-content);
}

/* --------------------------------- Profile -------------------------------- */
.main__item {
    margin: 20px 0;
    padding: 20px 0;
}

/* --------------------------------- sosmed --------------------------------- */
.main__box-s p {
    color: var(--font-light);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 40px;
    margin: 10px;
}


.sosmed__link {
    color: var(--hover-color);
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
    transition: color 0.3s ease;
}

.sosmed__link:hover {
    color: var(--color-white);
    text-shadow: 0 0 8px var(--hover-color);
}